*{
    background-color: #81a8d8;
    padding: 10px;
    display: flex;
    align-items: center;
    list-style: none;   
    margin: 1; 
    
}
  
#sidebarToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #000105;
}
button{
  color: #ffffff;
}
  
nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #f2f2f2;
  }
  